@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

body {
    margin: 0;
    background: url('../imagens/fundo-brett-sayles.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: bisque;
    background:url(../imagens/frame-iphone.png) no-repeat;
    border-radius: 20px;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 470px;
}

section#redes-sociais {
    float: right;
}

section#redes-sociais img {
    display: block;
    width: 60px;
    margin: 13px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.705);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgb(185, 185, 185);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
    transition: transform .4s, border .4s;
}

@media screen and (max-width: 700px) {

    section#redes-sociais img {
        display: inline-block;
        text-align: center;
        width: 60px;
        margin: 13px;
    }
}